.droophp-results table {
  border-collapse: collapse;
}

.droophp-results td, .droophp-results th {
  border: 1px solid #CCC;
  padding: 0.5em;
  vertical-align: top;
}

.droophp-results dt {
  font-weight: bold;
}

.droophp-results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  color: #777;
}

.droophp-results li {
  margin-top: 0.5em;
  line-height: 1.1em;
}
